div{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
p{
 text-align: center;
}
img{
 float:right;
}