.parent{
 position: static;
 height: 600vw;
 background-color: pink;
}
.child-one{
position: relative;
top: 50px;
background-color: red;
}
.child-two{
position: fixed;
left: 60px;
background-color: green;
}
.child-three{
position: absolute;
top: 0;
background-color: blue;
}
.child-four{
    position: sticky;
    top: 0;
    background-color: aqua;
}