.table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table th{
    height: 70px;
    background-color: #04886d;
    text-align: left;
    color: white;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover{
    background-color: #ddd;
}
.ami{
    overflow-x: auto;
}