.p1{
    background-color: darkslategray;
    padding: 10px 5px;
    border: 2px solid black;
    height: 200px;
    width: 90%;
    float: right;
    overflow: auto;
}
img{
    float: inherit;
    padding: 10px;
    height: 300px;
    width: 300px;
}